*.egg-info
__pycache__
*_version.py
docs/build
.coverage
.idea/
*.gguf
.venv
build/
benchmarks/results
target/
*.so
.benchmarks
**/target/
**/dist/

bindings/python/build
bindings/python/src/outlines_core
bindings/python/outlines-core-lib
test-sdist/
test-wheel/
